<div ng-include="'components/navbar/navbar.html'" ></div>

<div class="container main">
  <div class="row">
    <div class="col-lg-9">
      <div class="language section">
       <!--  <select>
          <option>hi</option>
          <option>hi</option>
          <option>hi</option> -->
      </div>
      <div class="language section">
        <div class="verse" ng-repeat="verse in verses">
          <span class="verseNumber">Verse {{ verse.number }} </span><span ng-repeat="word in verse.words" class="word" ng-click="onWordClick(word)">{{ word.text }} </span> 
        </div>
      </div>
      <div class="translate section">
        <textarea class="translateInput"></textarea>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="vocabulary section">
        <div ng-repeat="word in vocabWords" ng-click="removeWord(word)" class="word">{{ word }}</div>
      </div>
    </div>
  </div>

</div>

<footer class="footer">
  <div class="container">
      <p>The above image is Hebrews 4:4-14 from 𝔓46 courtesty of earlybible.com </p>
  </div>
</footer>
