/** -----------------
 * Main Page styles
 ----------------- */

.main .section {
    background: #040400;
    color: rgb(221, 221, 173);
    padding: 10px;
}

.main .word {
	font-size: 16px;
}

.main .word:hover {
	color: red;
	cursor: pointer;
}

.main .verseNumber {
	font-size: 20px;
	color: gray;
}

.main .translateInput {
	width: 100%;
	max-width: 100%;
	background: rgb(221, 221, 173);
	border: none;
	color: black;
	border-radius: 2px;
	padding: 5px;
}